In [2]:
import json
import numpy as np
import pandas as pd

In [3]:
def load_data(filename):
    with open(filename, "r") as f:
        data = json.load(f)
    return data

In [5]:
data = load_data("data3.json")

In [6]:
pd.DataFrame(data['users'])

   id   name friends liked_pages
0   1   Amit  [2, 3]       [101]
1   2  Priya  [1, 4]       [102]
2   4   Sara     [2]       [104]
3   5   Amit      []          []

In [7]:
pd.DataFrame(data['pages'])

    id                      name
0  101         Python Developers
1  102  Data Science Enthusiasts
2  103         AI & ML Community
3  104               Web Dev Hub